/neuroConstruct/generatedNeuroML2/LEMS_Cerebellum3DDemo.xml
/neuroConstruct/generatedNeuroML2/runsim.sh
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
